<app-spinner *ngIf="isLoading"></app-spinner>>
<section class="md:w-3/4 mx-auto mt-8">
  <form>
    <div class="mb-4 w-full bg-gray-50 rounded-lg border border-gray-200">
      <div class="flex justify-between items-center py-2 px-3 border-b">
        <!-- <div class="flex flex-wrap items-center justify-between divide-gray-200 sm:divide-x dark:divide-gray-600"> -->

        <!-- <div class="relative w-16 h-16">
                                    <img class="rounded-full border border-gray-100 shadow-sm" src="https://randomuser.me/api/portraits/women/81.jpg" alt="user image" />
                                    <div class="absolute top-0 right-0 h-4 w-4 my-1 border-2 border-white rounded-full bg-green-400 z-2"></div>
                                </div> -->

        <div class="ml-4 text-xl">
          {{ user ? user.firstName + " " + user.lastName : "" }}
        </div>
        <div>
          <button
            type="submit"
            (click)="onClick()"
            class="inline-flex items-center px-5 py-2.5 text-base md:text-xl font-bold text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-red-500"
          >
            Publish
          </button>
        </div>
        <!-- </div> -->
      </div>
      <div class="py- px-4 bg-white rounded-b-lg">
        <div class="py-4 flex items-center">
          <span class="text-sm md:text-xl mr-6 md:mr-10"
            >How good was our course?</span
          >
          <ngb-rating [max]="5" class="text-yellow-500" [(rate)]="courseRating">
            <ng-template let-fill="fill">
              <span
                class="transition-none"
                [class.filled]="fill === 100"
                [class.notfilled]="fill === 0"
              >
                <fa-icon [icon]="star" size="2x"></fa-icon>
              </span>
            </ng-template>
          </ngb-rating>
        </div>
        <textarea
          id="editor"
          rows="4"
          #r="ngModel"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="reviewDescription"
          class="block px-4 mb-4 w-full text-base md:text-xl text-gray-800 bg-gray-100 border-0 focus:ring-0"
          placeholder="Write your thoughts about this course..."
          required
        ></textarea>
        <div
          *ngIf="r.invalid && r.touched"
          class="text-red-500 text-sm w-max mx-auto"
        >
          Review can not be empty
        </div>
      </div>
    </div>
  </form>
</section>
