::ng-deep label.star {
    padding: 0 5px !important;
    font-size: 20px !important;
}

::ng-deep input.star-5:checked {
    text-shadow: 0 0 5px black;
}

@media screen and (min-width: 768px) {
    ::ng-deep label.star {
        font-size: 26px !important;
    }
}

@media screen and (min-width: 1024px) {
    ::ng-deep label.star {
        font-size: 34px !important;
    }
}