<section
  class="p-16 bg-gradient-to-tr from-cyan-500 to-violet-800 relative -top-16"
>
  <div class="flex flex-col items-center justify-center mb-8">
    <p class="text-red-300 text-xl tracking-widest">Funfact</p>
    <p class="text-xl md:text-2xl text-white">Strength in Numbers</p>
  </div>
  <article
    class="container mx-auto flex flex-col md:flex-row gap-8 md:gap-16 lg:gap-24 justify-center items-center"
  >
    <div class="text-center">
      <p class="font-semibold text-white text-xl">230K+</p>
      <p class="text-gray-100 tracking-tight">Learners & counting</p>
    </div>
    <div class="border h-12 hidden md:block"></div>
    <div class="text-center">
      <p class="font-semibold text-white text-xl">80+</p>
      <p class="text-gray-100 tracking-tight">Total courses</p>
    </div>
    <div class="border h-12 hidden md:block"></div>
    <div class="text-center">
      <p class="font-semibold text-white text-xl">89%</p>
      <p class="text-gray-100 tracking-tight">Successful students</p>
    </div>
  </article>
</section>
