p {
    color: var(--blue);
    margin: 0;
    margin-right: .5rem;
}

input,
.search {
    background-color: #f5f8fb;
}

.active,
.search-icon {
    color: var(--blue);
}

[mat-menu-item] {
    font-size: 1.25rem;
}

.sidebarOpen,
.overlayOpen {
    transform: translateX(100%);
}

.sidebarClose,
.overlayClose {
    transform: translateX(-100%);
    transition-duration: 0.2s;
}