<nav class="container justify-between py-4 px-1 flex items-center mx-auto">
  <div class="flex items-center">
    <img
      src="..\assets\images\logo.png"
      class="mr-8"
      alt="Logo"
      width="200px"
    />
    <p class="cursor-pointer hidden lg:block out tracking-wide">
      All Categories
      <fa-icon [icon]="faAngleDown"></fa-icon>
    </p>
    <div class="search px-3 py-1 rounded-sm hidden lg:block">
      <input
        type="search"
        name="course"
        class="p-1 text-base text-gray-600 outline-none"
        placeholder="Search for courses"
      />
      <fa-icon [icon]="faGlass" class="search-icon cursor-pointer"></fa-icon>
    </div>
  </div>
  <div class="flex gap-4 items-center">
    <fa-icon [icon]="faBars" class="cursor-pointer lg:hidden"> </fa-icon>
    <ul class="hidden lg:flex gap-4">
      <a routerLink="main" routerLinkActive="active"><li>Home</li></a>
      <a routerLink="courses" routerLinkActive="active"><li>Courses</li></a>
      <a routerLink="contact" routerLinkActive="active"><li>Contact Us</li></a>
    </ul>
    <fa-icon [icon]="faUser" class="cursor-pointer"></fa-icon>
  </div>
</nav>
