<nav
  class="justify-between py-4 px-4 xl:px-10 flex items-center mx-auto bg-white sticky top-0 left-0 w-full shadow-md z-20"
>
  <div class="flex items-center">
    <img
      src="..\assets\images\logo.png"
      class="mr-8 cursor-pointer"
      alt="Logo"
      width="200px"
      (click)="logoClick()"
    />
    <div class="search px-3 py-1 rounded-sm hidden lg:block">
      <input
        type="search"
        name="search"
        [(ngModel)]="search"
        class="p-1 text-base text-gray-600 outline-none"
        placeholder="Search for courses"
      />
      <fa-icon
        [icon]="faGlass"
        (click)="onSearch()"
        class="search-icon cursor-pointer"
      ></fa-icon>
    </div>
  </div>
  <div class="flex gap-3 md:gap-5 xl:gap-8 items-center">
    <fa-icon
      (click)="sidebar = !sidebar"
      [icon]="faBars"
      class="cursor-pointer md:hidden"
    >
    </fa-icon>
    <ul class="hidden md:flex gap-3 md:gap-5 xl:gap-8">
      <a routerLink="main" routerLinkActive="active"><li>Home</li></a>
      <a routerLink="courses" routerLinkActive="active"><li>Courses</li></a>
      <a routerLink="blogs" routerLinkActive="active"><li>Blog</li></a>
      <a routerLink="contact" routerLinkActive="active" class="w-max"
        ><li>Contact Us</li></a
      >
    </ul>
    <a routerLink="login" (click)="onClick()">
      <fa-icon [icon]="faUser"></fa-icon>
    </a>
  </div>
</nav>
<div
  class="h-screen fixed top-0 w-64 bg-white py-5 px-3 md:px-5 z-50 lg:hidden md:w-80"
  [ngClass]="{ sidebarOpen: sidebar }"
  [ngClass]="{ sidebarClose: !sidebar }"
>
  <section class="flex justify-between items-cetner">
    <img src="..\assets\images\logo.png" class="" alt="Logo" width="150px" />
    <div>
      <fa-icon
        [icon]="faXmark"
        class="cursor-pointer text-red-500"
        size="2x"
        (click)="sidebar = !sidebar"
      ></fa-icon>
    </div>
  </section>
  <hr class="mt-3 mb-5 border border-gray-600" />
  <ul>
    <a routerLink="main" routerLinkActive="active" (click)="sidebar = false"
      ><li>Home</li></a
    >
    <hr class="m-1 mb-2 border border-gray-300" />
    <a routerLink="courses" routerLinkActive="active" (click)="sidebar = false"
      ><li>Courses</li></a
    >
    <hr class="m-1 mb-2 border border-gray-300" />
    <a routerLink="blogs" routerLinkActive="active" (click)="sidebar = false"
      ><li>Blog</li></a
    >
    <hr class="m-1 mb-2 border border-gray-300" />
    <a routerLink="contact" routerLinkActive="active" (click)="sidebar = false"
      ><li>Contact Us</li></a
    >
    <hr class="m-1 mb-2 border border-gray-300" />
  </ul>
</div>
<div
  class="fixed bg-gray-400 top-0 w-screen h-screen -z-50 lg:hidden"
  [ngClass]="{ overlayOpen: sidebar }"
  [ngClass]="{ overlayClose: !sidebar }"
></div>
