<app-adminsidebar>
  <div class="m-2 flex justify-center">
    <div class="mt-10 border-2 rounded-md shadow-lg w-1/2">
      <h1 class="p-3">Add Instructor</h1>
      <form action="#" class="p-3">
        <p>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Placeholder" />
            <mat-hint>Hint</mat-hint>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <p class="mt-0">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Placeholder" />
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Placeholder" />
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Placeholder" />
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Placeholder" />
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </p>
        <button type="submit" mat-button>Submit</button>
      </form>
    </div>
  </div>
</app-adminsidebar>
