<app-adminsidebar>
  <div class="d-flex justify-content-center pt-4">
    <h1 class="text-center border-bottom border-5 border-primary p-1">
      Add Instructor
    </h1>
  </div>
  <div class="w-2/3 mx-auto border-2 rounded-lg shadow-md">
    <form class="p-2">
      <div class="flex w-full justify-between mt-3">
        <div class="w-1/2 m-1">
          <p>First Name:<small class="text-red-500">*</small></p>
          <input
            type="text"
            class="leading-8 outline-blue-500 rounded-md p-1 w-full"
            placeholder="First name"
          />
        </div>
        <div class="w-1/2 m-1">
          <p>Last Name:<small class="text-red-500">*</small></p>
          <input
            type="text"
            class="outline-blue-500 leading-8 rounded-md p-1 w-full"
            placeholder="Last name"
          />
        </div>
      </div>
      <div class="flex w-full justify-between mt-3">
        <div class="w-1/2 m-1">
          <p>Email:<small class="text-red-500">*</small></p>
          <input
            type="text"
            class="outline-blue-500 leading-8 rounded-md p-1 w-full"
            placeholder="Email"
          />
        </div>
        <div class="w-1/2 m-1">
          <p>Phone No:<small class="text-red-500">*</small></p>
          <input
            type="text"
            class="outline-blue-500 leading-8 rounded-md p-1 w-full"
            placeholder="Phone No"
          />
        </div>
      </div>
      <div class="flex w-full justify-between mt-3">
        <div class="w-1/2 m-1">
          <label class="mb-2"
            >Password:<small class="text-red-500">*</small></label
          >
          <input
            type="password"
            class="outline-blue-500 leading-8 rounded-md p-1 w-full"
            placeholder="Password"
          />
        </div>
        <div class="w-1/2 m-1">
          <p for="firstname">
            Confirm Password:<small class="text-red-500">*</small>
          </p>
          <input
            type="text"
            class="outline-blue-500 leading-8 rounded-md p-1 w-full"
            placeholder="Confirm Password"
          />
        </div>
      </div>
      <div class="text-center mt-3 mb-3">
        <button mat-raised-button color="primary">Add</button>
      </div>
    </form>
  </div>
</app-adminsidebar>
