<div class = "absolute"> 
        <div class = "email-container absolute top-0 mx-62 bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 flex justify-start items-center">
            <div class = "text-3xl font-bold p-5">
                Want Us To Email You About <br>Spcial Offers & Updates?
            </div>
            <div class = "p-10 ">
                <div class = "relative">
                <input type = "text" class = "bg-white h-14 w-full px-5 border rounded text-black focus:border-blue-500 text-xl"/>
                <button class = "h-14 w-50 absolute px-5 bg-red-500 border rounded hover:bg-indigo-500 text-2xl">Subscribe</button>
                </div>
            </div>
        </div>  
        <footer class = "footer">
            <div class = "container mt-44">
                <div class="logo my-auto">
                    <img src="./images/logo-white.png" alt="Logo">
                </div>
                <div class="footer-list">
                    <p>Company</p>

                    <ul>
                        <li>About</li>
                        <li>Pricing</li>
                    </ul>
                </div>
                <!-- <div class="footer-list">
                    <p>Platform</p>
                    <ul>
                        <li>Browser Library</li>
                        <li>Role IQ</li>
                        <li>Skill IQ</li>
                        <li>Partner Program</li>
                        <li>Authors</li>
                    </ul>
                </div> -->

                <div class="footer-list">
                    <p>Resource</p>
                    <ul>
                        <li>Library</li>
                        <li>Guides</li>
                        <li>Tutorials</li>
                        <li>FAQs</li>
                    </ul>
                </div>
            
                <div class="footer-list">
                    <p>Get In Touch</p>
                    <ul>
                        <li>
                            <i class = "fa fa-map-marker" area-hidden = true></i>
                            <span>
                                500 Treat Ave, 
                                Suite 200
                                San Francisco, CA 94110
                            </span>
                        </li>
                        <li>
                            <i class = "fa fa-phone" area-hidden = true></i>
                            <span>
                                +91 - 8342123424
                            </span>
                        </li>
                        <li>
                            <i class = "fa fa-envelope" area-hidden = true></i>
                            <span>
                                support@gmail.com
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        <div class="footer-bottom md:w-full md:flex sm:justify-around">
                <div class = "footer-bottom-list">
                    <li>Privacy Policy</li>
                </div>
                
                <div class = "h-8 w-px bg-white"></div>

                <div class = "footer-bottom-list">
                    <li>Terms Of Service</li>
                </div> 

                <div class = "h-8 w-px bg-white"></div>

                <div class = "footer-bottom-list">
                    <li>&copy;MyEducation App. All Rights Reserved.</li>
                </div> 
            </div>
        </footer>
    </div>
