<section
  class="translate-y-1/2 -mt-14 mx-auto w-11/12 p-5 py-12 flex flex-col lg:flex-row gap-3 bg-gradient-to-tr to-cyan-500 from-violet-800 rounded-md items-center"
>
  <p class="text-white text-lg md:text-2xl lg:text-3xl">
    Want Us to Email You About Special Offers & Updates?
  </p>
  <div
    class="bg-white rounded-md p-2 flex justify-between flex-col sm:flex-row items-center"
  >
    <input
      type="email"
      placeholder="Enter your email"
      class="placeholder:text-gray-600 p-2 placeholder:tracking-tight outline-none tracking-tight"
    />
    <button
      class="text-white text-sm sm:text-base rounded-md py-2 w-max px-2 bg-red-500"
    >
      Subscribe <fa-icon [icon]="faArrow"></fa-icon>
    </button>
  </div>
</section>
<footer class="pb-6 pt-40 sm:pt-32">
  <section class="flex flex-col gap-3 items-center justify-evenly md:flex-row">
    <article
      class="flex flex-col gap-8 lg:gap-14 items-center justify-between md:flex-row"
    >
      <img src="../assets/images/logo-white.png" alt="logo" width="150px" />
      <ul class="text-center md:text-left">
        <p class="font-bold text-white">Company</p>
        <a routerLink="about">
          <li>About</li>
        </a>
        <a href="#">
          <li>Careers</li>
        </a>
        <a routerLink="contact">
          <li>Contact</li>
        </a>
      </ul>
      <ul class="text-center md:text-left">
        <p class="font-bold text-white">Resources</p>
        <a routerLink="courses">
          <li>Courses</li>
        </a>
        <a href="#">
          <li>Guides</li>
        </a>
        <a href="#">
          <li>Tutorials</li>
        </a>
        <a routerLink="faqs">
          <li>FAQs</li>
        </a>
      </ul>
    </article>
    <div class="h-28 w-0.5 -mx-10 bg-gray-600 hidden md:block rule"></div>
    <article class="text-center md:text-left">
      <p class="text-white font-bold">Get in touch</p>
      <div class="flex gap-3">
        <fa-icon [icon]="faLocation" class="text-red-600 block"></fa-icon>
        <span>500, Treat Ave, Suite 200<br />San Fransisco CA 94110</span>
      </div>
      <div class="flex gap-3">
        <fa-icon [icon]="faMessage" class="text-red-600 block"></fa-icon>
        <span>contact@support.com</span>
      </div>
      <div class="flex gap-3">
        <fa-icon [icon]="faPhone" class="text-red-600 block"></fa-icon>
        <span>1-702-800-2690</span>
      </div>
    </article>
  </section>
  <hr class="my-5 w-11/12 mx-auto border-spacing-0.5 border-gray-600" />
  <section>
    <article
      class="flex text-white flex-col items-center gap-3 md:flex-row justify-evenly"
    >
      <a href="#">Privacy Policy</a>
      <div class="h-10 w-0.5 bg-gray-600 hidden md:block"></div>
      <a href="#">Terms of service</a>
      <div class="h-10 w-0.5 bg-gray-600 hidden md:block"></div>
      <p class="last">&copy; 2022 Courselog. All Rights Reserved.</p>
    </article>
  </section>
</footer>
