<div class="flex justify-center pt-4 w-full items-center">
  <h1 class="border-b-4 border-blue-600 p-1">Add Blog</h1>
</div>
<div class="m-3 border-2 rounded-md shadow-md mx-auto w-11/12">
  <form class="p=2" [formGroup]="addBlogForm" (ngSubmit)="onAddBlog()">
    <div class="flex flex-col md:flex-row w-full justify-between md:mt-3 m-1">
      <div class="w-full md:w-1/2 m-1">
        <p>Blog Title:<small class="text-red-500">*</small></p>
        <input
          type="text"
          class="leading-8 outline-blue-500 rounded-md p-1 w-full"
          placeholder="title"
          formControlName="blogTitle"
        />
        <div
          *ngIf="blogtitle.invalid && (blogtitle.touched || blogtitle.dirty)"
          class="mt-1"
        >
          <p *ngIf="blogtitle.errors.required" class="text-red-600 text-xs">
            *title is required!
          </p>
        </div>
      </div>
      <div class="w-full md:w-1/2 m-1">
        <p>Blog Image:<small class="text-red-500">*</small></p>
        <input
          type="file"
          class="outline-blue-500 leading-8 rounded-md p-1 w-full"
          accept="image/*"
          (change)="onSelectImage($event)"
          formControlName="image"
        />
        <div
          *ngIf="blogimage.invalid && (blogimage.touched || blogimage.dirty)"
          class="mt-1"
        >
          <p *ngIf="blogimage.errors.required" class="text-red-600 text-xs">
            *image is required!
          </p>
        </div>
      </div>
    </div>
    <div class="w-full m-1">
      <p class="mb-2">Blog Content:<span class="text-red-500">*</span></p>
      <editor
        [init]="initConfiguration"
        formControlName="blogBody"
        class="p-2"
      ></editor>
      <div
        *ngIf="
          blogcontent.invalid && (blogcontent.touched || blogcontent.dirty)
        "
        class="mt-1"
      >
        <p *ngIf="blogcontent.errors.required" class="text-red-600 text-xs">
          *content is required!
        </p>
      </div>
    </div>
    <div class="text-center mt-1 mb-1">
      <button type="submit" mat-raised-button color="primary">Add</button>
    </div>
  </form>
</div>
