<div class="px-4 py-2">
  <div class="flex flex-col items-center justify-center">
    <div
      class="bg-gray-100 rounded shadow lg:w-5/12 md:w-9/12 sm:w-9/12 w-full p-10 mt-16"
    >
      <p
        class="focus:outline-none text-2xl font-extrabold leading-6 text-gray-800"
      >
        Register Your Account
      </p>

      <p
        class="focus:outline-none text-sm mt-4 font-medium leading-none text-gray-500"
      >
        Already Have An Account?
        <a
          routerLink="/homepage/login"
          class="text-blue-500 font-bold ml-1 underline"
          >Login Here</a
        >
      </p>
      <form [formGroup]="regForm" novalidate (ngSubmit)="onSubmit(regForm)">
        <div class="mt-2">
          <label
            for="firstName"
            class="text-sm md:text-base font-medium text-gray-800"
            >First Name</label
          >
          <input
            type="text"
            id="firstName"
            class="text-base border rounded font-medium leading-none text-gray-800 py-2 w-full pl-3 mt-2"
            name="firstName"
            formControlName="firstName"
          />

          <div
            class="bg-red-300 w-full"
            *ngIf="
              regForm.get('firstName').invalid &&
              regForm.get('firstName').touched
            "
          >
            <p class="text-sm text-gray-800 rounded px-2 py-1">
              Please provide a valid first name
            </p>
          </div>
        </div>

        <div class="mt-2">
          <label
            for="lastName"
            class="text-sm md:text-base font-medium text-gray-800"
            >Last Name</label
          >
          <input
            type="text"
            id="lastName"
            class="text-base border rounded font-medium leading-none text-gray-800 py-2 w-full pl-3 mt-2"
            name="lastName"
            formControlName="lastName"
          />

          <div
            class="bg-red-300 w-full"
            *ngIf="
              regForm.get('lastName').invalid && regForm.get('lastName').touched
            "
          >
            <p class="text-sm text-gray-800 rounded px-2 py-1">
              Please provide a valid last name
            </p>
          </div>
        </div>

        <div class="mt-2">
          <label
            for="email"
            class="text-sm md:text-base font-medium text-gray-800"
            >Email</label
          >
          <input
            type="text"
            id="email"
            class="text-base border rounded font-medium leading-none text-gray-800 py-2 w-full pl-3 mt-2"
            name="email"
            formControlName="emailId"
          />

          <div
            class="bg-red-300 w-full"
            *ngIf="regForm.get('email').invalid && regForm.get('email').touched"
          >
            <p class="text-sm text-gray-800 rounded px-2 py-1">
              Please provide a valid email address
            </p>
          </div>
          <div class="bg-red-300 w-full" *ngIf="emailError">
            <p class="text-sm text-gray-800 rounded px-2 py-1">
              User already exist with this email address
            </p>
          </div>
        </div>

        <div class="mt-2">
          <label
            for="password"
            class="text-sm md:text-base leading-none font-medium text-gray-800"
            >Password</label
          >
          <div class="relative flex items-center justify-center">
            <input
              [type]="show_pass ? 'text' : 'password'"
              class="text-base border rounded font-medium leading-none text-gray-800 py-2 w-full pl-3 mt-2"
              formControlName="password"
              (input)="check_password()"
            />
            <div
              class="absolute right-0 mt-2 mr-3 cursor-pointer text-gray-800"
              (click)="show_pass = !show_pass"
            >
              <fa-icon [icon]="show_pass ? faEye : faEyeSlash"></fa-icon>
            </div>
          </div>
          <div
            class="bg-red-300 w-full"
            *ngIf="
              regForm.get('password').hasError('required') &&
              regForm.get('password').touched
            "
          >
            <p class="text-sm text-gray-800 rounded px-2 py-1">
              Please provide a confirm password
            </p>
          </div>
          <div
            class="bg-red-300 w-full"
            *ngIf="
              regForm.get('password').hasError('pattern') &&
              regForm.get('password').touched
            "
          >
            <p class="text-sm text-gray-800 rounded px-2 py-1">
              Password must be of at least 8 characters and mixture of
              uppercase, lowercase, numbers & symbols
            </p>
          </div>
        </div>

        <div class="mt-2">
          <label
            for="repeatPassword"
            class="text-sm md:text-base font-medium text-gray-800"
            >Confirm Password</label
          >
          <input
            type="password"
            id="repeatPassword"
            class="text-base border rounded font-medium leading-none text-gray-800 py-2 w-full pl-3 mt-2"
            name="repeatPassword"
            formControlName="repeatPassword"
            (input)="check_password()"
          />

          <div
            class="bg-red-300 w-full"
            *ngIf="
              regForm.get('repeatPassword').hasError('required') &&
              regForm.get('repeatPassword').touched
            "
          >
            <p class="text-sm text-gray-800 rounded px-2 py-1">
              Please provide a confirm password
            </p>
          </div>
          <div
            class="bg-red-300 w-full"
            *ngIf="match_password_error && regForm.get('password').touched"
          >
            <p class="text-sm text-gray-800 rounded px-2 py-1">
              Both password must be same
            </p>
          </div>
        </div>

        <div class="mt-4">
          <input
            type="submit"
            value="Register"
            class="bg-red-500 py-2 md:py-4 w-full text-white font-extrabold text-xl border rounded hover:bg-indigo-600 cursor-pointer"
          />
        </div>
      </form>
    </div>
  </div>
</div>
