mat-card::ng-deep.mat-card-header-text {
    width: 100%;
  }

mat-card::ng-deep img{
    width: 100%;
    height:100%
  }
mat-card::ng-deep.mat-card-actions {
    display:flex;
    justify-content:center;
    align-items:center
  }
