<section class="flex justify-center items-center h-auto w-auto">
  <div
    class="flex flex-col justify-center items-center py-0 m-0 md:py-8 h-full"
  >
    <p class="text-5xl md:text-9xl py-4 text-gray-800">
      <strong> ERROR 404 </strong>
    </p>
    <p class="text-center text-2xl px-4 md:text-4xl py-0">
      Oops... Page Not Found!
    </p>
    <span class="text-center px-2 text-base md:text-xl py-2">
      Try using the button below to go to main page of the site
    </span>
    <a routerLink="/">
      <button
        class="bg-red-500 p-4 md:w-1/2 text-white font-extrabold text-xl border rounded hover:bg-indigo-600 cursor-pointer w-max"
      >
        Back To Home
      </button>
    </a>
  </div>
</section>
