<div class="flex justify-center pt-4 w-full items-center">
  <h1 class="border-b-4 border-blue-600 p-1">Add Contactus</h1>
</div>
<div class="w-3/5 mx-auto border-2 rounded-lg shadow-md m-2 md:w-1/2">
  <form
    class="p-2"
    [formGroup]="contactusForm"
    (ngSubmit)="onAddContactusDetail()"
  >
    <div class="flex flex-col md:flex-row w-full justify-between md:mt-3">
      <div class="md:w-1/2 w-full m-1">
        <p>Email:<small class="text-red-500">*</small></p>
        <input
          type="text"
          class="outline-blue-500 leading-8 rounded-md p-1 w-full"
          placeholder="Email"
          formControlName="email"
        />
        <div
          *ngIf="email.invalid && (email.touched || email.dirty)"
          class="mt-1"
        >
          <p *ngIf="email.errors.required" class="text-red-600 text-xs">
            *email is required!
          </p>
          <p *ngIf="email.errors.pattern" class="text-red-600 text-xs">
            *enter valid email!
          </p>
        </div>
      </div>
      <div class="md:w-1/2 w-full m-1">
        <p>Phone No:<small class="text-red-500">*</small></p>
        <input
          type="text"
          class="outline-blue-500 leading-8 rounded-md p-1 w-full"
          placeholder="Phone No"
          formControlName="phoneNo"
        />
        <div
          *ngIf="phoneno.invalid && (phoneno.touched || phoneno.dirty)"
          class="mt-1"
        >
          <p *ngIf="phoneno.errors.required" class="text-red-600 text-xs">
            *phone no is required!
          </p>
          <p *ngIf="phoneno.errors.pattern" class="text-red-600 text-xs">
            *enter valid phone no!
          </p>
        </div>
      </div>
    </div>
    <div class="flex w-full justify-between md:mt-3">
      <div class="w-full m-1">
        <label class="mb-2"
          >Address:<small class="text-red-500">*</small></label
        >

        <textarea
          type="textarea"
          rows="4"
          class="outline-blue-500 leading-8 rounded-md p-1 w-full"
          placeholder="Address"
          formControlName="address"
        ></textarea>

        <div
          *ngIf="address.invalid && (address.touched || address.dirty)"
          class="mt-1"
        >
          <p *ngIf="address.errors.required" class="text-red-600 text-xs">
            *adress is required!
          </p>
        </div>
      </div>
    </div>
    <div class="text-center mt-3 mb-3">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="contactusForm.invalid"
      >
        Add
      </button>
    </div>
  </form>
</div>
