<article
  class="rounded-2xl bg-gray-50 border cursor-pointer"
  (click)="courseClick()"
>
  <img
    src="{{ 'data:image/png;base64,' + course.courseImage }}"
    alt="course"
    class="rounded-t-2xl block max-h-52 mx-auto"
  />
  <div class="p-5">
    <p class="hover:text-blue-600 text-lg">
      {{ course.courseName }}
    </p>
    <img
      src="{{ 'data:image/png;base64,' + course.tutorImage }}"
      alt="instructor"
      class="inline-block mr-3 rounded-full w-10 h-10"
    />
    <span class="text-gray-600"> {{ course.tutorName | titlecase }}</span>
    <div class="flex justify-between items-center">
      <div>
        <fa-icon [icon]="faClock" class="text-blue-500"></fa-icon
        >{{ course.courseDuration }} weeks
      </div>
      <div
        class="rounded-full bg-red-500 text-white grid place-items-center h-14 w-14"
      >
        ${{ course.coursePrice }}
      </div>
      <div *ngIf="course.courseStatus == 'past'">
        {{ course.courseRating == 0 ? "N/A" : course.courseRating
        }}<fa-icon [icon]="faStar" class="text-yellow-400"></fa-icon>
      </div>
    </div>
  </div>
</article>
