<div class="m-3">
  <h1 class="p-3">Dashboard</h1>
  <div class="flex md:flex-row lg:flex-row sm:flex-col">
    <div
      class="m-3 sm:w-full md:w-1/2 lg:w-1/2 border-2 shadow-lg rounded-md w-1/2"
    >
      <!-- Earning header -->
      <div class="flex justify-between items-center w-full p-2">
        <div>
          <h1>Earnings</h1>
          <small>This Month</small>
        </div>
        <button mat-button>REPORTS</button>
      </div>
      <!-- Earning header end -->
      <hr />
      <img
        src="../../../../assets/images/graph.png"
        alt="graph image"
        class="w-full p-5"
      />
      <hr />
      <!-- Earning footer -->
      <div class="flex justify-around items-center w-full">
        <div>
          <h1>Gross Revenue</h1>
          <p class="text-center text-orange-500 text-3xl">102.4K</p>
        </div>
        <div>
          <h1>Net Revenue</h1>
          <p class="text-center text-green-500 text-3xl">50K</p>
        </div>
      </div>
      <!-- Earning footer end -->
    </div>

    <div class="m-3 sm:w-full md:w-1/2 lg:w-1/2 border-2">
      <!-- My courses header -->

      <h1 class="p-2">My Courses</h1>
      <small class="p-2">Your recent courses</small>

      <!-- My courses header end -->
      <br />
      <hr />
      <!-- My courses Main start -->
      <div class="p-3 flex justify-between items-center">
        <span class="text-sm">Basics of HTML</span>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
      <hr />
      <div class="p-3 flex justify-between items-center">
        <span class="text-sm">Anguar</span>
        <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
      </div>
      <hr />
      <div class="p-3 flex justify-between items-center">
        <span class="text-sm">Java</span>
        <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
      </div>
      <hr />
      <!-- My courses Main end -->
    </div>
  </div>
</div>
