<div class="px-4 py-2">
  <div class="flex flex-col items-center justify-center">
    <div
      class="bg-gray-100 rounded shadow lg:w-5/12 md:w-9/12 sm:w-9/12 w-full p-10"
    >
      <form [formGroup]="userForm" novalidate (ngSubmit)="onSubmit()">
        <div class="mt-2">
          <label
            for="firstName"
            class="text-sm md:text-base font-medium text-gray-800"
            >First Name</label
          >
          <input
            type="text"
            id="firstName"
            class="text-base border rounded font-medium leading-none text-gray-800 py-2 w-full pl-3 mt-2"
            name="firstName"
            formControlName="firstName"
          />

          <div class="bg-red-300 w-full">
            <p class="text-sm text-gray-800 rounded px-2 py-1">Error</p>
          </div>
        </div>

        <div class="mt-2">
          <label
            for="lastName"
            class="text-sm md:text-base font-medium text-gray-800"
            >Last Name</label
          >
          <input
            type="text"
            id="lastName"
            class="text-base border rounded font-medium leading-none text-gray-800 py-2 w-full pl-3 mt-2"
            name="lastName"
            formControlName="lastName"
          />

          <div class="bg-red-300 w-full">
            <p class="text-sm text-gray-800 rounded px-2 py-1">Error</p>
          </div>
        </div>

        <div class="mt-2">
          <label
            for="email"
            class="text-sm md:text-base font-medium text-gray-800"
            >Email</label
          >
          <input
            type="text"
            id="email"
            class="text-base border rounded font-medium leading-none text-gray-800 py-2 w-full pl-3 mt-2"
            name="email"
            formControlName="email"
            readonly
          />
        </div>

        <div class="mt-4">
          <input
            type="submit"
            value="Save"
            class="bg-red-500 py-2 md:py-4 w-full text-white font-extrabold text-xl border rounded hover:bg-indigo-600 cursor-pointer"
          />
        </div>
      </form>
    </div>
  </div>
</div>
