<section>
        <div class="h-48 md:h-72 w-full">
            <div class = "px-14 py-28 align-center">
                <p class = "inline text-3xl bg-transparent"><a href = "#">Home</a></p>
                <p class = "inline text-2xl bg-transparent px-2"><i class = "fas fa-chevron-right"></i></p>
                <p class = "inline text-xl sm:text-3xl md:text-3xl bg-transparent">About Us</p>
            </div>
        </div>
    </section>
    <!-- Our story section -->
    <section class = "my-10">
        <div class = "px-auto md:flex md:justify-evenly">
            <div class = "px-4 py-4 md:pl-20 md:w-full">
                <p class = "text-red-600 font-medium text-xl text-center">
                    Our Story
                </p> 
                <h1 class = "py-2 text-3xl font-bold md:text-5xl">
                    Our Mission is to Provide a World-class Education.
                </h1>
                <p class = "text-xl py-2 md:text-2xl md:py-6">
                    Online courses designed for creatives and made for everyone. Take a course on Code, Design or Project.
                </p>
            </div>
            <div class = "content-center md:w-full">
                <img class = "px-4 py-4 md:px-20 md:py-0 h-full w-full rounded" src="../assets/images/group.jpg" alt="Our Image">
            </div>
        </div>
    </section>
    <!-- Our story section end -->


    <!-- Start of contact us and career section -->
    <section class = "mt-10">
        <div class = "flex flex-col md:flex-row mx-6 md:justify-center md:px-10 md:items-center">
            <!-- Contact Us -->
            <div id = "red-box" class = "h-full px-8 py-8 mb-10 md:px-10 md:mx-10 md:py-10 border rounded rounded-lg">
                <p class = "text-yellow-300 font-medium text-sm md:text-xl">
                    Contact Us For Information
                </p>
                <h1 class = "py-2 md:py-4 text-white font-bold text-xl md:text-2xl">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro.
                </h1>
                <span class = "py-2 md:py-4 text-white text-sm font-medium md:text-base">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus fugit, dolores nostrum nulla ullam corporis.
                </span>
                <button class = "bg-red-400 text-white text-base px-6 py-2 md:py-4 mt-4 md:mt-6 block border-red-400 rounded-md cursor-pointer hover:font-bold md:text-xl">
                    <a href = "#">Know More <i class="fa-solid fa-arrow-right px-2"></i> </a>
                </button>
            </div>
            <!-- Career -->
            <div id = "blue-box" class = "h-full px-8 py-8 mb-10 md:px-10 md:py-10 md:mx-10 border rounded rounded-lg">
                <p class = "text-yellow-200 font-medium text-sm md:text-xl">
                    Career With Us
                </p>
                <h1 class = "py-2 md:py-4 text-white font-bold text-xl md:text-2xl">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro.
                </h1>
                <span class = "py-2 md:py-4 text-white text-sm font-medium md:text-base">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus fugit, dolores nostrum nulla ullam corporis.
                </span>
                <button class = "bg-blue-400 text-white text-base px-6 py-2 md:py-4 mt-4 md:mt-6 block border-red-400 rounded-md cursor-pointer hover:font-bold md:text-xl">
                    <a href = "#">Know More <i class="fa-solid fa-arrow-right px-2"></i> </a>
                </button>
            </div>

        </div>
    </section>
    <!-- End of contact us and career section -->
