<app-spinner *ngIf="isLoading"></app-spinner>
<div class="flex justify-center pt-4 w-full items-center">
  <h1 class="border-b-4 border-blue-600 p-1">Reply Contact Message</h1>
</div>
<div class="w-3/5 mx-auto border-2 rounded-lg shadow-md m-2 md:w-1/2">
  <form class="p-2" [formGroup]="replyMessageForm" (ngSubmit)="onReply()">
    <div class="flex flex-col md:flex-row w-full justify-between md:mt-3">
      <div class="md:w-1/2 w-full m-1">
        <p>Name:</p>
        <input
          type="text"
          class="outline-blue-500 leading-8 rounded-md p-1 w-full bg-gray-200"
          formControlName="name"
          readonly
        />
      </div>
      <div class="md:w-1/2 w-full m-1">
        <p>Email:</p>
        <input
          type="text"
          class="outline-blue-500 leading-8 rounded-md p-1 w-full bg-gray-200"
          formControlName="emailId"
          readonly
        />
      </div>
    </div>
    <div class="flex w-full justify-between md:mt-3">
      <div class="w-full m-1">
        <label class="mb-2">Message:</label>

        <textarea
          type="textarea"
          rows="3"
          class="outline-blue-500 leading-8 rounded-md p-1 w-full bg-gray-200"
          formControlName="message"
          readonly
        ></textarea>
      </div>
    </div>
    <div class="flex w-full justify-between md:mt-3">
      <div class="w-full m-1">
        <label class="mb-2"
          >Reply Message:<small class="text-red-500">*</small></label
        >

        <textarea
          type="textarea"
          rows="3"
          class="outline-blue-500 leading-8 rounded-md p-1 w-full"
          placeholder="Reply.."
          formControlName="replyMessage"
        ></textarea>
      </div>
    </div>
    <div class="text-center mt-3 mb-3">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="replyMessageForm.invalid"
      >
        <mat-icon>email</mat-icon>
        Mail
      </button>
    </div>
  </form>
</div>
