<app-spinner *ngIf="isLoading"></app-spinner>
<main class="m-6">
  <section class="m-auto">
    <div class="lg:flex lg:justify-between">
      <div
        class="w-full lg:flex lg:justify-center lg:items-center py-4 md:py-10"
      >
        <img
          src="{{
            course ? 'data:image/png;base64,' + course.courseImage : ''
          }}"
          alt="Course Image"
          class="w-full lg:w-3/4 lg:h-full rounded-md"
        />
      </div>
      <div class="w-full px-2 py-4 md:py-8 md:px-8">
        <p class="text-xl font-bold md:text-2xl">
          {{ course ? course.courseName : "" }}
        </p>
        <hr class="mt-4 border border-red-500" />

        <!-- Start of Instructor Image -->
        <div class="flex items-center pt-2 md:pt-4">
          <div class="text-center">
            <img
              src="{{
                course ? 'data:image/png;base64,' + course.tutorImage : ''
              }}"
              alt="Instructor Image"
              class="w-11 h-11 md:w-12 md:h-12 rounded-full inline-block"
            />
          </div>
          <div class="ml-4">
            <span class="font-bold tracking-wider text-base md:text-xl">{{
              course ? (course.tutorName | titlecase) : ""
            }}</span>
          </div>
        </div>
        <!-- End of Instructor Image -->

        <div class="flex justify-between flex-wrap items-center pt-2 md:pt-4">
          <div>
            <span class="text-xl font-medium"
              ><fa-icon [icon]="clock" class="text-blue-500 mr-1"></fa-icon
              >{{ course ? course.courseDuration : "" }} Weeks</span
            >
          </div>
          <div *ngIf="course && course.courseStatus === 'past'">
            <span class="text-xl font-medium"
              >{{
                course
                  ? course.courseRating == 0
                    ? "N/A"
                    : course.courseRating / 5
                  : ""
              }}<fa-icon [icon]="star" class="text-yellow-400 ml-1"></fa-icon
            ></span>
          </div>
        </div>

        <div class="flex justify-between items-center flex-wrap">
          <p class="pt-4 text-xl font-medium">
            Starts from: {{ course ? (course.courseDate | date) : "" }}
          </p>
          <p *ngIf="!isEnrolled" class="pt-4 text-xl font-medium">
            Price: {{ course ? course.coursePrice : "" }}&nbsp;<fa-icon
              [icon]="inr"
            ></fa-icon>
          </p>
        </div>
        <div *ngIf="!isEnrolled" class="mx-auto w-max">
          <button
            (click)="showModal = !showModal"
            class="bg-red-500 p-2 md:px-4 mt-2 md:mt-4 text-white tracking-wide font-bold text-base md:text-xl border rounded-lg hover:bg-indigo-600 cursor-pointer"
          >
            Enroll Now
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- Course Details OutLine -->
  <section class="bg-gray-100 mt-4">
    <div class="text-center py-4">
      <p class="text-xl md:text-2xl font-bold">Course Description</p>
    </div>

    <hr />

    <div class="flex flex-col items-center py-4 md:py-6">
      <div class="px-4 md:px-10 p-2">
        <div class="">
          <span class="text-base md:text-xl font-medium text-justify">
            {{ course ? course.courseDescription : "" }}
          </span>
        </div>
      </div>
    </div>
  </section>
  <app-chapters *ngIf="course" [course]="course"></app-chapters>
  <app-add-review *ngIf="course" [courseId]="course.courseId"></app-add-review>
  <app-display-review
    *ngIf="course"
    [course]="course"
  ></app-display-review>
</main>
<!-- modal -->
<div
  *ngIf="showModal"
  id="defaultModal"
  tabindex="-1"
  class="fixed top-0 left-0 right-0 z-50 w-full overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full justify-center items-center flex"
  aria-modal="true"
  role="dialog"
>
  <div class="relative w-full h-full max-w-2xl p-4 md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-gray-100 rounded-lg shadow-lg">
      <!-- Modal header -->
      <div
        class="p-4 text-center text-xl font-semibold tracking-wider text-blue-500"
      >
        Purchase Course
      </div>
      <hr class="border-2 w-9/12 mx-auto border-red-500 rounded-2xl" />
      <!-- Modal body -->
      <div class="px-6 md:px-4 py-2 space-y-4 text-center">
        <div>
          <p class="text-base font-medium">Course</p>
          <p
            class="text-xl text-justify md:text-center font-semibold tracking-wider"
          >
            {{ course.courseName }}
          </p>
        </div>
        <hr />
        <div>
          <p class="text-base font-medium">Instructor</p>
          <p class="text-xl font-semibold tracking-wider">
            {{ course.tutorName }}
          </p>
        </div>
        <hr />
        <div>
          <p class="text-base font-medium">Starts from</p>
          <p class="text-xl font-semibold tracking-wider">
            {{ course.courseDate | date }}
          </p>
        </div>
        <hr />
        <div>
          <p class="text-base font-medium">Price</p>
          <p class="text-xl font-semibold tracking-wider">
            {{ course.coursePrice }}<fa-icon [icon]="inr"></fa-icon> (inc. all
            taxes)
          </p>
        </div>
      </div>
      <!-- Modal footer -->
      <div
        class="flex justify-around items-center p-6 space-x-2 border-t border-red-500 rounded-b"
      >
        <button
          type="button"
          (click)="showModal = !showModal"
          class="w-full inline-flex justify-center tracking-wide rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
        >
          Cancel
        </button>
        <button
          type="button"
          (click)="onEnroll()"
          class="w-full inline-flex justify-center tracking-wide rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm"
        >
          Enroll
        </button>
      </div>
    </div>
  </div>
</div>
