<app-spinner *ngIf="isLoading"></app-spinner>
<main class="m-6">
  <section class="m-auto">
    <div class="lg:flex lg:justify-between">
      <div
        class="w-full lg:flex lg:justify-center lg:items-center py-4 md:py-10"
      >
        <img
          src="{{
            course ? 'data:image/png;base64,' + course.courseImage : ''
          }}"
          alt="Course Image"
          class="w-full lg:w-3/4 lg:h-full rounded-md"
        />
      </div>
      <div class="w-full px-2 py-4 md:py-8 md:px-8">
        <p class="text-xl font-bold md:text-2xl">
          {{ course ? course.courseName : "" }}
        </p>
        <hr class="mt-4 border border-red-500" />

        <!-- Start of Instructor Image -->
        <div class="flex items-center pt-2 md:pt-4">
          <div class="text-center">
            <img
              src="{{
                course ? 'data:image/png;base64,' + course.tutorImage : ''
              }}"
              alt="Instructor Image"
              class="w-11 h-11 md:w-12 md:h-12 rounded-full inline-block"
            />
          </div>
          <div class="ml-4">
            <span class="font-bold tracking-wider text-base md:text-xl">{{
              course ? (course.tutorName | titlecase) : ""
            }}</span>
          </div>
        </div>
        <!-- End of Instructor Image -->

        <div class="flex justify-between flex-wrap items-center pt-2 md:pt-4">
          <div>
            <span class="text-xl font-medium"
              ><fa-icon [icon]="clock" class="text-blue-500 mr-1"></fa-icon
              >{{ course ? course.courseDuration : "" }} Weeks</span
            >
          </div>
          <div *ngIf="course && course.courseStatus === 'past'">
            <span class="text-xl font-medium"
              >{{
                course
                  ? course.courseRating == 0
                    ? "N/A"
                    : course.courseRating / 5
                  : ""
              }}<fa-icon [icon]="star" class="text-yellow-400 ml-1"></fa-icon
            ></span>
          </div>
        </div>

        <div>
          <span class="pt-4 text-xl font-medium"
            >Starts from: {{ course ? (course.courseDate | date) : "" }}</span
          >
          <!-- <p class="pt-4 text-xl font-medium tracking-wide lg:text-2xl">
            Ends at:
          </p> -->
        </div>
        <div *ngIf="!isEnrolled" class="mx-auto w-max">
          <button
            class="bg-red-500 p-2 md:p-4 mt-2 md:mt-4 text-white tracking-wide font-extrabold text-base md:text-xl border rounded-lg hover:bg-indigo-600 cursor-pointer"
          >
            Enroll Now
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- Course Details OutLine -->
  <section class="bg-gray-50 mt-4">
    <div class="text-center py-4">
      <p class="text-xl md:text-2xl font-bold">Course Description</p>
    </div>

    <hr />

    <div class="flex flex-col items-center py-4 md:py-6">
      <div class="px-4 md:px-10 p-2">
        <div class="">
          <span class="text-base md:text-xl font-medium text-justify">
            {{ course ? course.courseDescription : "" }}
          </span>
        </div>
      </div>
    </div>
  </section>
  <app-chapters *ngIf="course" [course]="course"></app-chapters>
  <app-add-review *ngIf="course" [courseId]="course.courseId"></app-add-review>
  <app-display-review
    *ngIf="course"
    [courseReviews]="course.courseReviews"
  ></app-display-review>
</main>
