<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="sidenav-header">
      <img
        class="sidenav-user-image"
        src="../../../../assets/images/user.jpg"
        alt=""
      />
      <h2>Instructors Name</h2>
    </mat-toolbar>

    <mat-nav-list class="sidenav-list">
      <a mat-list-item routerLink="/admin/dashboard" routerLinkActive="active"
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          style="margin-right: 10px"
          >home</mat-icon
        >Dashboard</a
      >

      <a mat-list-item href="#"
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          style="margin-right: 10px"
          >message</mat-icon
        >Message</a
      >
      <a mat-list-item
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          style="margin-right: 10px"
          >school</mat-icon
        >
        <div class="flex justify-center">
          <mat-label>Mycourses</mat-label>
          <mat-select>
            <a href=""><mat-option> Add course </mat-option></a>
            <a href=""><mat-option> Edit course </mat-option></a>
          </mat-select>
        </div>
      </a>
      <a mat-list-item
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          style="margin-right: 10px"
          >person_add</mat-icon
        >
        <div class="flex justify-center">
          <mat-label>Users</mat-label>
          <mat-select>
            <a routerLink="/admin/instructor" routerLinkActive="active"
              ><mat-option>Instructor </mat-option></a
            >
            <a routerLink="/admin/student" routerLinkActive="active"
              ><mat-option>Student</mat-option></a
            >
          </mat-select>
        </div>
      </a>

      <a
        mat-list-item
        routerLink="/admin/contact-us/detail"
        routerLinkActive="active"
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          style="margin-right: 10px"
          >contact_support</mat-icon
        >Contactus</a
      >
      <a mat-list-item href="#"
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          style="margin-right: 10px"
          >bar_chart</mat-icon
        >Earning</a
      >
      <a mat-list-item href="#"
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          style="margin-right: 10px"
          >group</mat-icon
        >Student</a
      >
      <a mat-list-item href="#"
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          style="margin-right: 10px"
          >logout</mat-icon
        >Logout</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="nav-logo">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img class="m-auto" src="../../../../assets/images/logo.png" alt="" />
    </mat-toolbar>
    <!-- <app-dashboard></app-dashboard> -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
