<main class="bg-gray-200 py-10 px-8 pb-20">
  <div class="container mx-auto mb-5">
    <p class="text-red-500 lg:text-xl">Featured Courses</p>
    <p class="text-2xl lg:text-3xl tracking-tight">
      Pick a Course to Get Started
    </p>
  </div>
  <section
    class="container mx-auto grid gap-8 md:grid-cols-2 lg:grid-cols-3 place-items-center"
  >
    <app-testcourse
      *ngFor="let course of testcourses"
      [course]="course"
    ></app-testcourse>
  </section>
  <a routerLink="../courses" class="block mx-auto mt-6 w-max">
    <button
      class="p-3 border-2 border-red-600 hover:text-red-600 hover:bg-gray-300"
    >
      Browse more courses&Tab;&Tab;<fa-icon
        [icon]="faArrow"
        class="text-red-600"
      ></fa-icon>
    </button>
  </a>
</main>
