<main class="container mx-auto pt-5">
  <section class="flex gap-3 lg:hidden items-center justify-evenly mb-5">
    <a routerLink="myaccount" routerLinkActive="active">My Account</a>
    <a routerLink="mycourses" routerLinkActive="active">My Courses</a>
    <a>Log out</a>
  </section>
  <section class="flex lg:gap-3">
    <section class="hidden lg:flex flex-col w-40 border-r-2 gap-2">
      <a routerLink="myaccount" routerLinkActive="active">My Account</a>
      <a routerLink="mycourses" routerLinkActive="active">My Courses</a>
      <a>Log out</a>
    </section>
    <router-outlet></router-outlet>
  </section>
</main>
