<section
  class="container mx-auto flex flex-col lg:flex-row gap-10 items-center justify-center py-10 px-4 relative"
>
  <span
    class="hidden xl:inline absolute border border-double border-orange-500 rounded-full py-1 px-2 top-32 left-96"
    ><fa-icon class="text-green-600" [icon]="brush"></fa-icon
  ></span>
  <span
    class="hidden xl:inline absolute border border-double border-gray-400 rounded-full p-2 top-16 left-20"
    ><fa-icon class="text-blue-600" [icon]="cap"></fa-icon
  ></span>
  <span
    class="hidden xl:inline absolute border border-double border-gray-500 rounded-full py-1 px-2 top-8 left-1/2"
    ><fa-icon class="text-sky-600" [icon]="cloud"></fa-icon
  ></span>
  <span
    class="hidden xl:inline absolute border border-double border-gray-400 rounded-full p-2 bottom-32 left-24"
    ><fa-icon class="text-yellow-400" [icon]="crown"></fa-icon
  ></span>
  <span
    class="hidden xl:inline absolute border border-double border-gray-400 rounded-full p-2 bottom-36 left-2/8"
    ><fa-icon class="" [icon]="book"></fa-icon
  ></span>
  <span
    class="hidden xl:inline absolute border border-double border-gray-400 rounded-full p-2 bottom-20 left-72"
    ><fa-icon class="text-green-700" [icon]="leaf"></fa-icon
  ></span>
  <article>
    <p class="text-red-400 text-lg lg:text-xl">The Leader in Online Learning</p>
    <p class="text-3xl lg:text-4xl">Master the Skills to Drive your Career.</p>
    <p class="text-gray-500 tracking-tight">
      Minimum theory and maximum practice. Solve tasks and check the results
      right away. Courses so easy way.
    </p>
    <div class="rounded bg-red-500 flex w-max">
      <input
        type="search"
        placeholder="Search for courses"
        name="search"
        [(ngModel)]="search"
        class="rounded px-5 py-3 m-1 outline-none w-full"
      />
      <div class="w-16 bg-red-500 grid place-items-center rounded-r rounded-b">
        <fa-icon
          [icon]="glass"
          (click)="onSearch()"
          class="text-white cursor-pointer"
        ></fa-icon>
      </div>
    </div>
  </article>
  <img src="..\assets\images\hero image.png" alt="hero" />
</section>
