<section
  class="container mx-auto flex flex-col lg:flex-row gap-10 items-center justify-center py-10 px-4"
>
  <article>
    <p class="text-red-400 text-lg lg:text-xl">The Leader in Online Learning</p>
    <p class="text-3xl lg:text-4xl">Master the Skills to Drive your Career.</p>
    <p class="text-gray-500 tracking-tight">
      Minimum theory and maximum practice. Solve tasks and check the results
      right away. Courses so easy way.
    </p>
    <div class="rounded bg-red-500 flex w-max">
      <input
        type="search"
        placeholder="Search for courses"
        name="search"
        [(ngModel)]="search"
        class="rounded px-5 py-3 m-1 outline-none w-full"
      />
      <div class="w-16 bg-red-500 grid place-items-center rounded-r rounded-b">
        <fa-icon
          [icon]="glass"
          (click)="onSearch()"
          class="text-white cursor-pointer"
        ></fa-icon>
      </div>
    </div>
  </article>
  <img
    src="..\assets\images\student 3.png"
    alt="hero"
    class="border-8 border-yellow-300 lg:w-5/12 lol"
  />
</section>
