<section
  class="container mx-auto flex flex-col lg:flex-row gap-3 items-center justify-center py-10"
>
  <article class="px-4">
    <p class="text-red-400 text-lg">The Leader in Online Learning</p>
    <p class="text-3xl">Master the Skills to Drive your Career.</p>
    <p class="text-gray-500 tracking-tight">
      Minimum theory and maximum practice. Solve tasks and check the results
      right away. Courses so easy way.
    </p>
    <div class="rounded bg-red-500 flex w-full md:w-1/2">
      <input
        type="search"
        placeholder="Search for courses"
        name="search"
        class="rounded px-5 py-3 m-1 outline-none w-full"
      />
      <div class="w-16 bg-red-500 grid place-items-center rounded-r rounded-b">
        <fa-icon [icon]="glass" class="text-white"></fa-icon>
      </div>
    </div>
  </article>
  <img src="..\assets\images\hero image.png" alt="hero" />
</section>
