<app-spinner *ngIf="isLoading"></app-spinner>
<section class="container mx-auto mt-5">
  <p class="text-red-500 text-center text-xl mb-3">Featured Courses</p>
  <Header
    class="text-center flex flex-col md:flex-row justify-center items-center gap-3 lg:gap-10"
  >
    <section>
      Filters <fa-icon [icon]="faFilter" class="text-blue-500"></fa-icon>
      <mat-form-field class="ml-3">
        <input
          matInput
          type="search"
          placeholder="Search courses"
          [(ngModel)]="search"
        />
      </mat-form-field>
    </section>
    <section
      class="md:mt-3 flex md:gap-3 items-center justify-center flex-wrap lg:gap-10"
    >
      <mat-form-field appearance="outline">
        <mat-label>Course type</mat-label>
        <mat-select
          [(value)]="courseType"
          (selectionChange)="onCourseTypeChanged()"
        >
          <mat-option value="past">Previous Courses</mat-option>
          <mat-option value="present">Running Courses</mat-option>
          <mat-option value="future">Upcoming Courses</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Sort</mat-label>
        <mat-select
          [(value)]="sortType"
          (selectionChange)="onSortTypeChanged()"
        >
          <mat-option value="relevant">Relevant</mat-option>
          <mat-option value="az">A-Z</mat-option>
          <mat-option value="za">Z-A</mat-option>
          <mat-option value="price">Price (Low-High)</mat-option>
        </mat-select>
      </mat-form-field>
    </section>
  </Header>
  <hr class="border border-red-200 rounded-full w-11/12 mx-auto mb-5" />
  <article
    *ngIf="(courses | filter: search) == false && search"
    class="w-max mx-auto font-semibold text-red-500 text-2xl my-16"
  >
    Your search doesn't match with any course...
  </article>
  <article
    *ngIf="!courses"
    class="w-max mx-auto font-semibold text-red-500 text-2xl my-16"
  >
    No results found, please come back after sometime
  </article>
  <section class="grid gap-8 md:grid-cols-2 lg:grid-cols-3 place-items-center">
    <app-course
      *ngFor="let course of courses | filter: search"
      [course]="course"
    ></app-course>
  </section>
</section>
