<article class="bg-white rounded-2xl lg:max-w-xs" (click)="onClick()">
  <img
    src="{{ course.image }}"
    alt="course"
    class="rounded-t-2xl block max-h-52 mx-auto"
  />
  <div class="px-5 py-3">
    <p class="cursor-pointer hover:text-blue-600">
      {{ course.title | titlecase }}
    </p>
    <img
      src="{{ course.instructor_image }}"
      alt="instructor"
      width="45px"
      class="inline-block mr-3 rounded-full w-10 h-10"
    />
    <span class="text-gray-600"> {{ course.instructor | titlecase }}</span>
    <div class="flex justify-between items-center">
      <div>
        <fa-icon [icon]="faClock" class="text-blue-500"></fa-icon
        >{{ course.duration }} weeks
      </div>
      <div>
        {{ course.rating
        }}<fa-icon [icon]="faStar" class="text-yellow-400"></fa-icon>
      </div>
    </div>
  </div>
</article>
