<app-spinner *ngIf="isLoading"></app-spinner>
<div class="flex justify-center pt-4 w-full items-center">
  <h1 class="border-b-4 border-blue-600 p-1">Contact Message</h1>
</div>

<div class="m-2 w-auto">
  <div class="flex justify-between items-center mt-1">
    <a routerLink="/admin/contact-us/add">
      <button
        mat-raised-button
        color="primary"
        matTooltip="update contact detail"
      >
        Update
      </button>
    </a>
    <mat-form-field
      appearance="standard"
      *ngIf="contactusDetails.length > 0 && !isLoading"
    >
      <mat-label>Search</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. ium"
        #input
      />
    </mat-form-field>
  </div>
  <div *ngIf="contactusDetails.length === 0 && !isLoading" class="text-center">
    <h2>Instructor data not found!</h2>
  </div>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 w-full lg:w-3/4 mx-auto"
    *ngIf="contactusDetails.length > 0 && !isLoading"
  >
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="emailId">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.emailId }}</td>
    </ng-container>

    <!-- PhoneNO Column -->
    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef>Message</th>
      <td mat-cell *matCellDef="let element">{{ element.message }}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="primary" (click)="onReply(element)">
          <mat-icon>reply</mat-icon>Reply
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
